* {
    box-sizing: border-box;
}

#add-recipe-container {
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
}

#add-recipe-header {
    width: 100%;
    height: 25%;
    position: relative;
    background-image: url('../../asset/pho-br.jpg');
    background-size: cover;
}