#container-cuisine {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: url('../../asset/pho-br.png');
    background-size: cover;
    overflow: hidden;
}


.region {
    box-shadow: 3px 3px 6px black;
}

#pho-br, #banhmi, #com-ga {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
    object-fit: cover;
}

#north:hover, #south:hover, #center:hover {
    color: #fa91f3;
}

/* #north:hover #pho-br{
    animation: slideshow ease 5s;
} */

@keyframes slideshow {
    0% {
        left: 100%;
        opacity: 0
    }
    100% {
        left: 0%;
        opacity: 1
    }
}

@keyframes slidesout {
    0% {
        left: 0%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}
