img{
    margin-bottom: 20;
    width:100%;
}

.img-hover-zoom {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 300;
     /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform 20s ease;
  }

  .flip-card-front img {
    transition: transform 20s ease;
  }

  .flip-card-front:hover img {
    transform: scale(2);
  }

  .flip-card-back img {
    transition: transform 20s ease;
  }

  .flip-card-back:hover img {
    transform: scale(2);
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(10);
  }

.my-link{
    color: #a86d32;
    text-decoration: none;
}

.none{
    text-decoration: none;
}

.none:visited {
    color: inherit;
}

#button {
    margin-left: 45%;
    margin-bottom: 10;
}

.menu{
    height: 20;
    margin-right: 20;
    padding: 0;
    float: left;
    font-size: 24;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

#my-link{
    background-color: #a86d32;
    font-size: 24;
    width: 150;
    height: 30;
}

#bienvenue{
    color: #f0c84f;
    width: 100%;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

#name{
    color: #474439;
    width: 100%;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

#title{
    color: #f0c84f;
    width: 100%;
    text-align: center;
    font-family:  "Comic Sans MS"
}

.center{
    margin-left: 40;
    margin-right: 40;
}

#select{
    margin-left: 40;
    margin-right: 40;
}


.flip-card {
    background-color: transparent;
    width:60%;
    height: 300;
    margin-left: 20%;
    margin-right: 20%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    overflow: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
  }
